/* Fonts family */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.button {
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #faa203;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e19203;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  text-align: center;
}
/* Main */
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /* Главная форма */
}
.main-content {
  margin-top: 10rem;
  /* Главный заголовок */
  /* Подзаголовок */
  /* Зелёный ярлык */
  /* Оплата по факту */
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1.45;
}
.main-content .subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main-content span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
}
.main-content span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-content .trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  padding: 3rem 5rem;
  background-color: #ffffff;
  text-align: center;
  /* Заголовок формы */
  /* Поле для ввода */
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
}
.main-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.main-form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    margin-top: 9rem;
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .header .phone-block {
    margin-top: -18rem;
  }
  .header .wrap {
    margin-top: -18rem;
  }
  .wrap-block {
    text-align: center;
  }
}
