* {
	box-sizing: border-box;
}
.block {
	background-color: #fff;
	position: absolute;
	height: 400px;
	width: 300px;
	border: solid 2px grey;
	display: inline-block;
	padding: 20px 30px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -200px;
}