* {
	box-sizing: border-box;
}
.form {
	margin: 100px 125px;
	height: 370px;
	width: 320px;
	background-color: #fafdfd;
	border: 1px solid #cfdede;
}

input {
	display: inline-block;
	height: 32px;
	width: 260px;
	margin-left: 30px;
	background-color: #ebf4f4;
	border: 1px solid #cfdede;
	margin-bottom: 16px;
}

::-webkit-input-placeholder {
	padding-left: 12px;
	font-style: italic;
	opacity: 0.5;
}

p {
	text-align: left;
	margin-left: 30px;
	font-size: 12px;
	font-weight: 600;
	color: #01b3b3;
}

.btn {
	margin-left: 30px;
	height: 45px;
	width: 260px;
	margin-top: 18px;
	background-color: #01b3b3;
}

.btn p {
	text-align: center;
	margin-left: 0;
	padding-top: 3px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}

.box {
	height: 25px;
	width: 149px;
	margin-top: -4px;
	margin-bottom: 30px;
	margin-left: 30px;
	background-color: #01b3b3;
	font-size: 12px;
}

.box p {
	text-align: center;
	color: #fff;
	padding-top: 4px;
	margin-left: 0;
	font-size: 12px;
	text-transform: uppercase;

}