#start {
	margin-left: 40px;
	text-shadow: 2px 0.5px 3px blue, 0 0 3em green;
}

li{
  background-color: #a0f28a;
	text-align: center;
	display: inline-block;
	position: relative;
	margin-right: 30px;
  padding: 5px;
  border: 1px solid #f27460;
}

h2 {
	display: block;
	text-align: center;
	background-color: #FFFACD;
	border: 3px solid #FFE4C4
}

h3 {
	display: block;
	text-align: center;
}

img {
	position: absolute;
	opacity: .3;
}

#chapter-1 {
	font-style: italic;
	border: dashed;
  background-color: #42eef4;
}

#chapter-2 {
	text-decoration: line-through;
	border: 3px solid red;
  background-color: #c1b353;
	padding: 10px 20px;
	margin: 20px 100px; 
}

#chapter-3 {
	border: 3px dashed green;
	text-decoration: underline;
	text-transform: uppercase; 
	background-color: linear-gradient(45deg, #EECFFA, #C5DDE8);
}

#chapter-4 p{
	text-decoration-color: blue;
	font-weight: 900;
	transform: rotate(180deg);
}

#part-1 {
	text-decoration: line-through;
	color: red;
	font-size: 25px;
	direction: rtl;
}

#part-2 {
	text-shadow: 1px 1px 2px black, 0 0 1em red;
	background: linear-gradient(45deg, #EECFFA, #C5DDE8);